h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-family: 'Montserrat', sans-serif;

}

h1, h2, h3 {
	/*font-weight: bold;*/
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	line-height: 1.2;
}

h1 {
	margin: 50px 0;
    font-size: 45px;
}

h1.title{
	color: #416983;
}

.carousel h1:after, .carousel h1:before {
    content: " ";
    display: none;
    width: 0;
    height: 2px;
    margin: 0;
}

h1:after, h1:before {
    content: " ";
    display: block;
    width: 80%;
    height: 2px;
    margin: 20px auto 20px;
    background: #4fbfa8;
}

h1.title:after, h1.title:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px auto 20px;
    background: #4fbfa8;
}

h3 {
	font-style: normal;
	font-family: 'Montserrat', sans-serif;
}
h3.title{
    color: #416983;
    font-size: 35px;
}